@import url('https://fonts.google.com/specimen/Outfit');


body{
    background-color: #D6E1F0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont{
    background-color: white;
    /* box-shadow: 1px 1px 10px gray; */
    border-radius: 15px;
    width: 20vw;
    /* height: 65vh; */
    display: grid;
    place-items: center;
    padding: 10px;
}

.qrcode{
    width: 20vw;
    border-radius: 10px;
}

.texts{
    display: grid;
    place-items: center;
    text-align: center;
    width: 16vw;
}

.text1{
    font-weight: 700;
}

.text2{
    color: gray;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 700px) {
    .cont{
        width: 70vw;
    }

    .qrcode{
        width: 68vw;
    }

    .texts{
        width: 50vw;
    }
}